@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #1D3557;
  --secondary: #457B9D;
  --dark: #1b1b1b;
  --white: #F7F7F7;
  --bgcolor: #FFFF;
  --light: #A8DADC;
  --seclight: #F1FAEE;
  --glass: rgba(255, 255, 255, 0.1);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: var(--primary);
  padding: 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
  0px 3px 3px rgba(0, 0, 0, 0.04),
  0px 6px 6px rgba(0, 0, 0, 0.06),
  0px 10px 10px rgba(0, 0, 0, 0.08),
  0px 16px 16px rgba(0, 0, 0, 0.10);

}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--seclight);
}

.nav-title-options {
  display: flex;
  gap: 100px;
  margin-left: 5px;
}

.title {
    font-size: 1.5rem;
    position: relative;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 4px;
}

.title::after, .item::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primary), var(--seclight));
    transition: width 0.5s ease;
}

.title:hover::after, .item:hover::after {
  width: 100%;
}

.nav-list {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 40px
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 8px 4px 8px;
  background: var(--bgcolor);
  color: var(--primary);
  border-radius: 8px;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-cart:hover {
  transform: scale(1.06);
}

.carrinho-container {
  font-weight: bold;
}

.carrinho-number {
  position: absolute;
  right: -4px;
  top: -10px;
  background: var(--secondary);
  color: var(--white);
  width: 16px;
  height: 22px;
  text-align: center;
  border-radius: 10px;
}

.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.img-text {
  position: absolute;
  color: var(--seclight);
  font-size: 1.2rem
}

.img-bg {
  width: 100%;
  height: 350px;
  object-fit: cover;
  box-shadow: rgba(4, 2, 36, 0.4) 0px 10px 20px;
  margin-bottom: 30px;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  justify-content: center;
  gap: 3rem;
}

.main-container {
  padding: 40px;
  margin: 30px;
  width: auto;
  height: auto;
  background: #032350ea;
  transition: all 0.5s ease;
}

.main-container:hover {
  transform: scale(1.06);
  box-shadow: rgba(4, 2, 36, 0.4) 0px 10px 20px;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product {
  height: 150px;
  width: 0 auto;
  object-fit: cover;
  border-radius: 10px;
  border: solid 1px var(--glass);
}

.container-text {
  text-align: center;
  margin: 20px 0px 20px 0px;
  color: var(--white);
}

.container-text h3 {
  margin-bottom: 8px;
}

.container-text p span {
  text-decoration: line-through;
}

.ph-fill {
  color: gold;
}

.container-link {
  text-align: center;
  color: var(--dark-);
  background: var(--white);
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease;
}

.container-link:hover {
  transform: scale(1.06);
}

a, a:hover, a:link, a:visited a:active a:focus {
  text-decoration: none;
  color: var(--dark);
}